<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>欢迎您的登录</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/base.css" />
<!-- <link rel="stylesheet" href="../css/form-elements.css"> -->
<link rel="stylesheet" href="../css/login.css">


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="../favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>
	<!-- 头部导航 start -->
	<div id="header">
		<div class="w nav-list">
			<ul class="head-left-nav">
				<li>
					<p>CDSJSD</p>
				</li>
				<li><a href="../index.html">首页</a> <!--转操作--></li>
				<li><a href="./register.html">注册</a> <!--转操作--></li>
				<li><a href="./Platform_document.html">更多</a> <!--转了解--></li>
			</ul>

		</div>
	</div>
	<!-- 头部导航 end -->
	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1>
							<strong>Family plant factory</strong> Login Form
						</h1>
						<div class="description">
							<p>
								We look forward to your participation. This will be our driving
								force. <a href="#"> <strong>AZMIND</strong>
								</a>Your use is completely free, and we do not charge any fees.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top">
							<div class="form-top-left" id="msg">
								<h3>Login to our site</h3>
								<p>{{msg}}</p>
							</div>
							<div class="form-top-right">
								<i class="fa fa-key"></i>
							</div>
						</div>
						<div class="form-bottom">
							<form role="form" action="" method="post" class="login-form"
								autocomplete="off" id="form">
								<div class="form-group">
									<label class="sr-only" for="form-username">Username</label> <input
										v-model="userName" type="text" autocomplete="off"
										name="form-username" placeholder="Username..."
										class="form-username form-control" id="form-username">
								</div>
								<div class="form-group">
									<label class="sr-only" for="form-password">Password</label> <input
										v-model="passWord" type="password" autocomplete="off"
										name="form-password" placeholder="Password..."
										class="form-password form-control" id="form-password">
								</div>
								<button type="button" class="btn" onclick="login()">登陆</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3 social-login">
						<h3>afterwards...or you can login with:</h3>
						<div class="social-login-buttons">
							<a class="btn btn-link-1 btn-link-1-facebook" href="#"> <i
								class="fa fa-facebook"></i> Facebook
							</a> <a class="btn btn-link-1 btn-link-1-twitter" href="#"> <i
								class="fa fa-twitter"></i> Twitter
							</a> <a class="btn btn-link-1 btn-link-1-google-plus" href="#"> <i
								class="fa fa-google-plus"></i> Google Plus
							</a>
							<h4>but now,you can not.</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Javascript -->
	<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

</body>
<script src="../assets/jquery/jquery-3.3.1.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../assets/jquery/jquery.backstretch.min.js"></script>
<script src="../assets/vue/vue.min.js"></script>
<script src="../js/login.js"></script>
<script src="../js/scripts.js"></script>
</html>